<section>
 <div class="log-in d-flex justify-content-between align-items-center">
               <%= render partial: "shared/arrow"%>
                <li class="log"> <h2> ADD CATEGORY</h2></li>
              <%= image_tag "icon2.svg", class: "icon"  %>
</div>
<%= form_with model: @group do |f| %>

   <div class="field">
    <%= f.label :name, class:"mt-2" %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "name" %>
  </div>

   <div class="field">
    <%= f.label :icon , class:"mt-2" %>
    <%= f.file_field :icon, class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Add category", class: "add-category" %>
  </div>

<% end %>
</section>